[includeIf "gitdir:~/code/vista/"]
	path = ~/.gitconfig-work
[includeIf "gitdir:~/code/personal/"]
	path = ~/.gitconfig-personal
[core]
	excludesfile = ~/.gitignore_global
[pull]
	ff = only
[push]
	default = simple
	autoSetupRemote = true
[color]
	ui = true
[commit]
	verbose = true
[rebase]
	autosquash = true
[log]
	date = relative
[format]
	pretty = format:%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd) %C(bold blue)<%an>%Creset
