[includeIf "gitdir:~/dev/"]
	path = .gitconfig-work
[includeIf "gitdir:~/pdev/"]
	path = .gitconfig-personal
[core]
	excludesfile = /Users/andrew/.gitignore_global
	editor = vim
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s $'
	sf = show --pretty="format:" --name-only
	pp = !sh -c 'git pull && git push'
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decora$
	br = branch -avv
	s = status
	p = pull
	pu = push
	d = diff
	co = checkout
	lgfp = log --name-only --first-parent
	sps = !git stash && git pull && git stash pop
	cleanup = !git fetch -p && git branch -vv | awk '/: gone]/{print $1}' | xargs git branch -d
[push]
	default = simple
[color]
	ui = true
